body {
    background-image: url(stonks.png);
    background-attachment: fixed;
    margin:0
}
body:link
{
    color:black;
}
a  {
    text-decoration: none; font-weight:bold;
} 

.logo {
    margin:1%;
    margin-top:1%;
    width:100px;
    height:100px;  
  }
div.one {
    background-color:rgba(46, 218, 224, 0.473);
    padding-top:1%;
    padding-bottom: 2%;
    font-size: 60px;
    text-align: center;
    font-family: "Comic Sans MS", "Comic Sans";
}
div.dva {
    background-color:rgba(5, 11, 59, 0.822);
    padding: 1%;
    margin:0 auto; 
    max-width: 78%; 
    font-size: 20px; 
}
nav a {
    color:rgb(182, 186, 250);
    font-weight: bold;
    font-size: 25px;
    margin:5.5%;
    margin-top:5.5%;
}

div.tri {
    max-width:60%; 
    background-color:rgba(215, 218, 245, 0.753);
    margin:0 auto;
    padding:5%;
}
table {
    width:100%;
}


td.first {
    text-align:center; 
    font-size:4;
}
a:hover {
    color:rgb(16, 126, 2);
}

a:visited {
    color:rgb(0, 0, 0);
}

nav a:visited {
    color:rgb(182, 186, 250);
}
div.footer {
    max-width:100%; 
    background-color:rgb(182, 182, 184); 
    margin:0 auto;
    color:rgb(182, 182, 184);  
    padding-top:10px;
    padding-bottom: 10px;
}
